<div class="footer">
		<div class="foo foo_left">
			<span class="foo_sao">扫描下载</span>
			<div class="foo_er"><img src="./image/icon.png"></div>
			<span class="foo_an an"><img src="./image/icon_06.png"></span>
			<div class="foo_an"><img src="./image/icon_35.png"></div>
		</div>
		<div class="foo foo_right">
		    <div class="about">
				<span class="foo_sao">关于我们</span>
				<a href="#">联系我们</a> <a href="#">百度百科</a><a href="#">沪ICP备:15000379</a>
			</div>
			<div class="footer_youqing">
				<span class="foo_sao">友情链接</span>
				<ul>
					<li><a href="#"><img src="./image/you16.png"></a></li>
					<li><a href="#"><img src="./image/you18.png"></a></li>
					<li><a href="#"><img src="./image/you3.png"></a></li>
					<li><a href="#"><img src="./image/you4.png"></a></li>
					<li><a href="#"><img src="./image/you5.png"></a></li>
					<li><a href="#"><img src="./image/you12.png"></a></li>
					<li><a href="#"><img src="./image/you7.png"></a></li>
					<li><a href="#"><img src="./image/you8.png"></a></li>
					<li><a href="#"><img src="./image/you9.png"></a></li>
					<li><a href="#"><img src="./image/you10.png"></a></li>
					<li><a href="#"><img src="./image/you11.png"></a></li>
					<li><a href="#"><img src="./image/you12.png"></a></li>
   					<li><a href="#"><img src="./image/you13.png"></a></li>
					<li><a href="#"><img src="./image/you14.png"></a></li>
					<li><a href="#"><img src="./image/you15.png"></a></li>
					<li><a href="#"><img src="./image/you16.png"></a></li>
					<li><a href="#"><img src="./image/you17.png"></a></li>
				</ul>
			</div>
		</div>
	</div>