<div id="banner_tabs" class="flexslider">
		<ul class="slides">
		<li>
			<a title="" target="_blank" href="#">
				<img  alt="" style="background: url(./image/banner1.png) no-repeat center;" src="./image/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img alt="" style="background: url(./image/banner2.png) no-repeat center;" src="./image/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img  alt="" style="background: url(./image/banner3.png) no-repeat center;" src="./image/alpha.png">
			</a>
		</li>
		</ul>
		<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
			<li><a>1</a></li>
			<li><a>2</a></li>
			<li><a>2</a></li>
		</ol>
	</div>
	 <div class="grid">
         <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
                <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
        <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	             在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
        <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	            在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
         <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	            在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
         <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	            在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
         <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	            在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
         <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	            在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
         <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	            在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
         <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	            在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
         <figure class="effect-milo">
            <img  class="eff_back"src="image/hostSpot.png" alt="img11"/>
            <figcaption>
               <div class="eff_left">
               		<img class="eff_icon"src="image/hotSpot_icon_01.png">
               		<span>东京食尸鬼</span>
               </div>
                <div class="eff_right">
                	<img class="eff_icon"src="image/hotSpot_icon_02.png">
                	<span>11万</span>
                </div>
            </figcaption>
            <p>
	            在纷乱嘈杂的现代化城市,蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食,是人类的天敌
            </p>
            <a href="#" class="read">阅读更多</a>
        </figure>
    </div>