    <div id="banner_tabs" class="flexslider">
		<ul class="slides">
		<li>
			<a title="" target="_blank" href="#">
				<img  alt="" style="background: url(./image/banner1.png) no-repeat center;" src="./image/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img alt="" style="background: url(./image/banner2.png) no-repeat center;" src="./image/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img  alt="" style="background: url(./image/banner3.png) no-repeat center;" src="./image/alpha.png">
			</a>
		</li>
		</ul>
		<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
			<li><a>1</a></li>
			<li><a>2</a></li>
			<li><a>2</a></li>
		</ol>
	</div>
	<div class="ranking">
		<div class="model">
			<div class="m_left">
				<div class="index_laba"></div>
				<p>你希望哪个动画片出续集？</p>
			</div>
			<div class="mo">
				<span></span>
			</div>
		</div>
		<div class="model">
			<div class="mo mm">
				<span></span>
			</div>
			<a href="#" class="m_right"></a>
		</div>
	</div>
	<div class="type video">
		<div class=" movie video_paly">
		 <div class="main_img">
			 <img class="video_img"src="./image/banner1.png">
			 <div class="show">
				<div><img src="./image/play.png"></div>
			 </div>
		</div>
		<div class="sh-vi">
			<ul>
			    <span class="le"></span>
				<li>
					<a href="#">
						<img class="vi_img"src="./image/vidioImg.png">
						<p class="ti">食尸鬼经典片段</p>
						<img class="ni_img"src="./image/play.png">
					</a>
				</li>
				<li>
					<a href="#">
						<img class="vi_img"src="./image/vidioImg.png">
						<p class="ti">食尸鬼经典片段</p>
						<img class="ni_img"src="./image/play.png">
					</a>
				</li>
				<li>
					<a href="#">
						<img class="vi_img"src="./image/vidioImg.png">
						<p class="ti">食尸鬼经典片段</p>
						<img class="ni_img"src="./image/play.png">
					</a>
				</li>
				<span class="ri"></span>
			</ul>
		</div>
		</div>
		<div class=" movie video_jinxuan">
		    <div class="view fifth-effect  fifth1 top">
	           <a href="#" target="_blank" title="Full Image"><img src="./image/jinpin.png"></a>
	           <div class="mask mask1"></div>
		    </div>
		     <div class="view fifth-effect fifth2 top hhi">
	           <a href="#" target="_blank" title="Full Image"><img src="./image/jinpin.png"></a>
	           <div class="mask mask2"></div>
		    </div>
		     <div class="view fifth-effect fifth3 hhi botton">
	           <a href="#" target="_blank" title="Full Image"><img src="./image/jinpin.png"></a>
	           <div class="mask mask3"></div>
		    </div>
		     <div class="view fifth-effect fifth4 botton">
	           <a href="#" target="_blank" title="Full Image"><img src="./image/jinpin.png"></a>
	           <div class="mask mask4"></div>
		    </div>
		</div>
	</div>
	<div class="type recommend">
	  <div class="container">
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="#">
							<img src='./image/10.png' />
							<!-- <div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div> -->
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/2.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/3.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/4.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/8.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
							<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>

							</div>
						</a>
					</li>
					<li class="pi">	
						<a href="#">
							<img src='./image/req_01.png' />
							<span class="hot_icon_01"></span>
							<!-- <div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div> -->
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/6.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/7.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
									<h4>极术老师</h4>
									<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
									<div class="xiang">点击详情</div>
								</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/8.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
							<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>

							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/8.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
							<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>

							</div>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<div class="type Hot">
		<div class="container">
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="#">
							<img src='./image/10.png' />
							<!-- <div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div> -->
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/2.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/3.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/4.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div>
						</a>
					</li>
					<li>	
						<a href="#">
							<img src='./image/6.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div>
						</a>
					</li>
					<li class="huan">
						<a href="#">
							<img src='./image/requ_02.png' />
							<span class="hot_icon_02"></span>
							<!-- <div>
								<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>
							</div> -->
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/7.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
								<span>
									<h4>极术老师</h4>
									<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
									<div class="xiang">点击详情</div>
								</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/8.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
							<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>

							</div>
						</a>
					</li>
				<li>
						<a href="#">
							<img src='./image/8.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
							<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>

							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src='./image/8.png' />
							<p class="hui">[绘]开心果少女</p>
							<div>
							<span>
								<h4>极术老师</h4>
								<p>这是一部国产动漫，主要的任务,这是一部国产动漫，主要的任务这是一部国产动漫，主要的任务</p>
								<div class="xiang">点击详情</div>
							</span>

							</div>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<div class="yuansheng">
		<div class="personal">
			<div class="yuan_top">
				<div class="yuan_img">
					<img src="image/pic.png">
					<p>任泽熙..</p>
					<span>刚刚</span>
				</div>
			</div>
			<div class="yuan_middle">
			    <div class="sheng_img">
					<img  class="yuan_pic"src="image/yuansheng_img_01.png">
					<img  class="yuan_mask"src="image/yuansheng_paly.png">
				</div>
				<div class="yuan_con">
					<p class="hh">食尸鬼放大招了</p>
					<span>动画</span>
					<p>喜欢的给糖果喽。给自己一个机会，有奖品的哦！！</p>
				</div>
			</div>
			<div class="yuan-button">
				<span><img src="image/icon_01.png"><p>15</p></span>
				<span><img src="image/icon_02.png"><p>15</p></span>
				<span><img src="image/icon_03.png"><p>15</p></span>
			</div>
		</div>
		<div class="personal perR">
			<div class="yuan_top">
				<div class="yuan_img">
					<img src="image/pic.png">
					<p>任泽熙..</p>
					<span>刚刚</span>
				</div>
			</div>
			<div class="yuan_middle">
			    <div class="sheng_img">
					<img  class="yuan_pic"src="image/yuansheng_img_01.png">
					<img  class="yuan_mask"src="image/yuansheng_paly.png">
				</div>
				<div class="yuan_con">
					<p class="hh">食尸鬼放大招了</p>
					<span>动画</span>
					<p>喜欢的给糖果喽。给自己一个机会，有奖品的哦！！</p>
				</div>
			</div>
			<div class="yuan-button">
				<span><img src="image/icon_01.png"><p>15</p></span>
				<span><img src="image/icon_02.png"><p>15</p></span>
				<span><img src="image/icon_03.png"><p>15</p></span>
			</div>
		</div>
		<div class="personal perB">
			<div class="yuan_top">
				<div class="yuan_img">
					<img src="image/pic.png">
					<p>任泽熙..</p>
					<span>刚刚</span>
				</div>
			</div>
			<div class="yuan_middle">
			  <!--   <div class="sheng_img">
					<img  class="yuan_pic"src="image/yuansheng_img_01.png">
					<img  class="yuan_mask"src="image/yuansheng_paly.png">
				</div> -->
				<div class="yuan_con" style="float: left;width: 100%;">
					<p class="hh">食尸鬼放大招了</p>
					<span>动画</span>
					<p>喜欢的给糖果喽。给自己一个机会，有奖品的哦！！</p>
				</div>
			</div>
			<div class="yuan-button">
				<span><img src="image/icon_01.png"><p>15</p></span>
				<span><img src="image/icon_02.png"><p>15</p></span>
				<span><img src="image/icon_03.png"><p>15</p></span>
			</div>
		</div>
		<div class="personal perR perB">
			<div class="yuan_top">
				<div class="yuan_img">
					<img src="image/pic.png">
					<p>任泽熙..</p>
					<span>刚刚</span>
				</div>
			</div>
			<div class="yuan_middle">
			    <div class="sheng_img">
					<img  class="yuan_pic"src="image/yuansheng_img_01.png">
					<img  class="yuan_mask"src="image/yuansheng_music.png">
				</div>
				<div class="yuan_con">
					<p class="hh">食尸鬼放大招了</p>
					<span>动画</span>
					<p>喜欢的给糖果喽。给自己一个机会，有奖品的哦！！</p>
				</div>
			</div>
			<div class="yuan-button">
				<span><img src="image/icon_01.png"><p>15</p></span>
				<span><img src="image/icon_02.png"><p>15</p></span>
				<span><img src="image/icon_03.png"><p>15</p></span>
			</div>
		</div>
	</div>