 <div class="middle_left">
                    <ul class="middle_nav">
                       <li class="my_01"><a href="#"><img src="./image/my_22.png"><p>首页</p></a></li>
                       <li class="my_02"><a href="#"><img src="./image/my_22.png"><p>帖子</p></a></li>
                       <li class="my_03"><a href="#"><img src="./image/my_24.png"><p>收藏</p></a></li>
                       <li class="my_04"><a href="#"><img src="./image/my_27.png"><p>分区</p></a></li>
                    </ul>
                    <div class="my_fenqu">
                           <div class="my_fenqu_top">
                                <div class="my_fenqu_top_all">
                                    <a href="#">
                                        <img src="./image/my_35.png">
                                        <p>我的分区</p>
                                        <span>11</span>
                                    </a>
                                </div>
                                <div class="my_fenqu_top_all my_fenqu_top_right">
                                    <a class="top_right"href="#">
                                        <img class="top_right_img" src="./image/my_41.png">
                                        <p>加入分区</p>
                                    </a>
                                     <a href="#">
                                        <img  src="./image/my_44.png">
                                        <p>更多</p>
                                    </a>
                                </div>
                           </div>
                           <ul>
                                <li><a href="#"><img src="./image/my_51.png"><p>东京食尸鬼</p></a></li>
                                <li><a href="#"><img src="./image/my_51.png"><p>东京食尸鬼</p></a></li>
                                <li><a href="#"><img src="./image/my_51.png"><p>东京食尸鬼</p></a></li>
                                <li><a href="#"><img src="./image/my_51.png"><p>东京食尸鬼</p></a></li>
                                <li><a href="#"><img src="./image/my_51.png"><p>东京食尸鬼</p></a></li>
                                <li><a href="#"><img src="./image/my_51.png"><p>东京食尸鬼</p></a></li>
                           </ul>
                    </div>
                    <div class="my_tiezhi">
                        <div class="my_fenqu_top">
                                <div class="my_fenqu_top_all">
                                    <a href="#">
                                        <img src="./image/my_55.png">
                                        <p>我的帖子</p>
                                      
                                    </a>
                                </div>
                                <div class="my_fenqu_top_all my_fenqu_top_right">
                                     <a href="#">
                                        <img  src="./image/my_44.png">
                                        <p>更多</p>
                                    </a>
                                </div>
                        </div>
                        <div class="my_tiezhi_content">
                                <div class="personal my_per">
                                    <div class="yuan_top">
                                        <div class="yuan_img">
                                            <img src="image/pic.png">
                                            <p>任泽熙..</p>
                                            <span>刚刚</span>
                                        </div>
                                    </div>
                                    <div class="yuan_middle">
                                        <div class="sheng_img">
                                            <img  class="yuan_pic"src="image/yuansheng_img_01.png">
                                            <img  class="yuan_mask"src="image/yuansheng_paly.png">
                                        </div>
                                        <div class="yuan_con">
                                            <p class="hh">食尸鬼放大招了</p>
                                            <span>动画</span>
                                            <p>喜欢的给糖果喽。给自己一个机会，有奖品的哦！！</p>
                                        </div>
                                    </div>
                                    <div class="yuan-button">
                                        <span><img src="image/icon_01.png"><p>15</p></span>
                                        <span><img src="image/icon_02.png"><p>15</p></span>
                                        <span><img src="image/icon_03.png"><p>15</p></span>
                                    </div>
                                </div>
                                 <div class="personal my_per">
                                    <div class="yuan_top">
                                        <div class="yuan_img">
                                            <img src="image/pic.png">
                                            <p>任泽熙..</p>
                                            <span>刚刚</span>
                                        </div>
                                    </div>
                                    <div class="yuan_middle">
                                        <div class="sheng_img">
                                            <img  class="yuan_pic"src="image/yuansheng_img_01.png">
                                            <img  class="yuan_mask"src="image/yuansheng_paly.png">
                                        </div>
                                        <div class="yuan_con">
                                            <p class="hh">食尸鬼放大招了</p>
                                            <span>动画</span>
                                            <p>喜欢的给糖果喽。给自己一个机会，有奖品的哦！！</p>
                                        </div>
                                    </div>
                                    <div class="yuan-button">
                                        <span><img src="image/icon_01.png"><p>15</p></span>
                                        <span><img src="image/icon_02.png"><p>15</p></span>
                                        <span><img src="image/icon_03.png"><p>15</p></span>
                                    </div>
                                </div>
                        </div>  
                    </div>
                    <div class="my_cellection">
                        <div class="my_fenqu_top">
                                <div class="my_fenqu_top_all">
                                    <a href="#">
                                        <img src="./image/my_56.png">
                                        <p>我的帖子</p>
                                      
                                    </a>
                                </div>
                                <div class="my_fenqu_top_all my_fenqu_top_right">
                                     <a href="#">
                                        <img  src="./image/my_44.png">
                                        <p>更多</p>
                                    </a>
                                </div>
                        </div>
                        <div class="my_tiezhi_content">
                                <div class="personal my_per">
                                    <div class="yuan_top">
                                        <div class="yuan_img">
                                            <img src="image/pic.png">
                                            <p>任泽熙..</p>
                                            <span>刚刚</span>
                                        </div>
                                    </div>
                                    <div class="yuan_middle">
                                        <div class="sheng_img">
                                            <img  class="yuan_pic"src="image/yuansheng_img_01.png">
                                            <img  class="yuan_mask"src="image/yuansheng_paly.png">
                                        </div>
                                        <div class="yuan_con">
                                            <p class="hh">食尸鬼放大招了</p>
                                            <span>动画</span>
                                            <p>喜欢的给糖果喽。给自己一个机会，有奖品的哦！！</p>
                                        </div>
                                    </div>
                                    <div class="yuan-button">
                                        <span><img src="image/icon_01.png"><p>15</p></span>
                                        <span><img src="image/icon_02.png"><p>15</p></span>
                                        <span><img src="image/icon_03.png"><p>15</p></span>
                                    </div>
                                </div>
                                 <div class="personal my_per">
                                    <div class="yuan_top">
                                        <div class="yuan_img">
                                            <img src="image/pic.png">
                                            <p>任泽熙..</p>
                                            <span>刚刚</span>
                                        </div>
                                    </div>
                                    <div class="yuan_middle">
                                        <div class="sheng_img">
                                            <img  class="yuan_pic"src="image/yuansheng_img_01.png">
                                            <img  class="yuan_mask"src="image/yuansheng_paly.png">
                                        </div>
                                        <div class="yuan_con">
                                            <p class="hh">食尸鬼放大招了</p>
                                            <span>动画</span>
                                            <p>喜欢的给糖果喽。给自己一个机会，有奖品的哦！！</p>
                                        </div>
                                    </div>
                                    <div class="yuan-button">
                                        <span><img src="image/icon_01.png"><p>15</p></span>
                                        <span><img src="image/icon_02.png"><p>15</p></span>
                                        <span><img src="image/icon_03.png"><p>15</p></span>
                                    </div>
                                </div>
                        </div> 
                    </div>
               </div>
               <div class="middle_right">
                    <div class="middle_nav right_nav">
                        <img src="./image/my_17.png">
                        <div class="middle_nav_top">
                            <span>11</span>
                            <p>收到的糖果：20</p>
                            <p class="middle_sum">15/21</p>
                            <div>
                                <span class="middle_one"></span>
                              <!--   <span></span> -->
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="my_fensi">
                        <div class="my_fenqu_top middle_right_top">
                            <div class="my_fenqu_top_all">
                                <a href="#">
                                    <img src="./image/my_38.png">
                                    <p>粉丝：543</p>
                                  
                                </a>
                            </div>
                            <div class="my_fenqu_top_all my_fenqu_top_right">
                                 <a href="#">
                                    <img  src="./image/my_44.png">
                                    <p>更多</p>
                                </a>
                            </div>
                        </div>
                        <ul class="right_content">
                            <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                            <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                            <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                            <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                            <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                            <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                        </ul>
                    </div>
                        <div class="my_fensi">
                            <div class="my_fenqu_top middle_right_top">
                                <div class="my_fenqu_top_all">
                                    <a href="#">
                                        <img src="./image/my_59.png">
                                        <p>关注：543</p>
                                      
                                    </a>
                                </div>
                                <div class="my_fenqu_top_all my_fenqu_top_right">
                                     <a href="#">
                                        <img  src="./image/my_44.png">
                                        <p>更多</p>
                                    </a>
                                </div>
                            </div>
                            <ul class="right_content">
                                <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                                <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                                <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                                <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                                <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                                <li><a href="#"><img src="./image/pic.png"><p>任泽熙</p></a></li>
                            </ul>
                        </div>  
               </div>  