<div class="index-container">
    <div class="my">
            <div class="myself">
            	<div class="my_top">
            		<div class="my_top_all">
            			<img src="./image/my_03.png">
            			<a href="#">返回首页</a>
            		</div>
            		<div class="my_top_all my_top_right">
            			<a href="#">个人资料</a>
            			<img src="./image/my_05.png">
            		</div>
            	</div>
            	<div class="my_session">
            		<div class="my_tou"></div>
                        <div class="my_nick">
                              <p>任泽熙</p>
                              <span>Lv2</span>
                        </div>
                        <p class="my_title">做一个快乐的鬼二畜</p>
                        <div class="my_botton">
                              <div class="my_bo">
                                    <span>关注：25</span>
                                    <a href="#"><img src="./image/my_11.png"></a>
                              </div>
                               <div class="my_bo bo">
                                    <span>关注：25</span>
                                    <a href="#"><img src="./image/my_12.png"></a>
                              </div>
                        </div>
            	</div>
            </div>
            <div class="my_middle" ui-view="my_mlddle"></div>
    </div>
    <footer ui-view="footer"></footer>
</div>